# Ignore the python cache files
__pycache__

# Ignore settings
#src/data/settings.toml

# Ignore any of the binary folders
bin

# Ignore any backup folders
backup

# Ignore PyCharm folders/files
.idea
.swp

# Ignore databases
src/data/databases/data.db

# Ignore logs
src/data/debug.log
